@{
    ViewData["Title"] = "Gráfico de Red";
}

<script type="text/javascript" src="~/lib/d3/d3.js"></script>
<script type="text/javascript" src="~/js/grafico.js" asp-append-version="true"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAopKI7FVTbOjblTHkpSWGhrg6o4dpyd_Y&callback=initMap" async defer></script>



<div id="map"></div>
