@{
    ViewData["Title"] = "Gráfico de Red";
}
@Html.Hidden("urlNodosJson",Url.Action("NodosJson", "Home"))

<script type="text/javascript" src="~/lib/d3/d3.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAopKI7FVTbOjblTHkpSWGhrg6o4dpyd_Y"></script>
<script type="text/javascript" src="~/js/grafico.js" asp-append-version="true"></script>



<div id="map"></div>
